# Dependencies
node_modules/

# Build artifacts
dist/

# Test
test/unit/coverage
test/e2e/reports

# Local settings
settings_local.js

# IDE & OS
.idea/
.vscode/
.DS_Store

# Other
*.log

# SSL certs/keys
certs/
